.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  border-radius: 0.5rem;
  appearance: none;
  padding: 1rem;
  /* min-width: 15rem; */
  min-width: 14rem;
  font-size: 1.4rem;
}

.primary {
  background-color: var(--main-color);
  color: #fff;
}

.secondary {
  color: #fff;
  background-color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cancel {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.delete{
  background-color: #B43F3F;
  color: #fff;
}

.third {
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
