.content {
  padding: 20px;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: flex-start;
  gap: 25px;
  background: url("/home_search.webp");
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profileMenu {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 5px;
  color: var(--second-color);
  overflow: hidden;
  border: 1px solid var(--second-color);
}

.profileMenu > div {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.profileUser {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 8px;
}

.profileUser li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
}

.profileUser button {
  width: 100%;
  font-weight: 600;
  font-size: 1.3rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: .8rem;
  color: #fff;
}

.buttonConnect {
  background-color: var(--main-color);
}

.buttonDisconnect {
  background-color: #C70039;
}

.itemProfileActive {
  background: var(--second-color);
  color: #FFFFFF;
}

.contentDashboard {
  border-radius: 5px;
  overflow: hidden;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  background: #FFFFFF;
}

.dashboardHead {
  background: var(--second-color);
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.dashboardHead button {
  max-width: 12rem;
  font-weight: 600;
  font-size: 1.3rem;
  padding-inline: 1.5rem;
  background-color: var(--main-color);
  padding-block: 1rem;
  border-radius: .8rem;
  color: #fff;
}

.dashboardBody {
  max-height: 550px;
  padding: 10px 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

