.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header p {
  font-size: 2.4rem;
  font-weight: 600;
}

.header span {
  font-size: 1.4rem;
  color: #b5c0d0;
}

.header button {
  background-color: transparent;
  border: 1px solid #0c0f24;
  font-size: 1.4rem;
  padding: 1rem;
  color: #0c0f24;
  font-weight: 600;
}

.header button:hover {
  background-color: #0c0f24;
  color: white;
}

.cards {
  width: 80rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Tarjetas de 300px de ancho mínimo, ajustadas automáticamente */
  gap: 1rem; /* Espacio entre las tarjetas */
}

.cards p{
    font-weight: 600;
}

.container_card {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container_card p {
  font-size: 1.4rem;
}

.container_card span {
  font-size: 1.2rem;
}

.image {
  background: #f2f2f2;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
}

.info{
    display: flex;
    flex-direction: column;
    width: 80rem;
}

.link{
    color: blue;
    font-weight: 600;
}
