.container{
    position: fixed;
    top: -100000px;
    transition: .5s;
    z-index: -9999;
}

.open{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: .5s;
    z-index: 9999999; 
    overflow: scroll; 

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: #000;
    font-weight: 600;
}

.header button{
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
    color: #000;
    padding: 2rem;
}

.re{
    width: 60px;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.img img {
    object-fit: contain;
}
.price{
    color: #121212;
}
@media screen and (max-width:768px) {
    .img{
        height: 40rem;
    }
}