.table {
  border: 1px solid var(--color-grey-200);
  font-size: 1.4rem;
  background-color: var(--color-grey-0);
  border-radius: 7px;
  overflow: hidden;
  width: 98%;
  text-align: left;
}

.common_row {
  display: grid;
  column-gap: 2.4rem;
  align-items: center;
  transition: none;
}

.header {
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  letter-spacing: 0.4px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
}
.row {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.row:hover {
  background-color: var(--color-grey-50);
  transition: 0.3s;
  cursor: pointer;
}

.row:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

.body {
  margin: 0.4rem 0;
}

.footer {
  background-color: var(--color-grey-50);
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.empty {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin: 2.4rem;
}
