.header_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4rem;
  padding-block: 2rem;
}

.field{
  margin-top: 0;
}

.container{
  background-color: #fff;
  border-radius: 1rem;
  height: 80vh;
  background-color: #fff;
  border-radius: 1rem;
  border-left: 2px solid rgba(0, 0, 0, .1);
}