.sidebar{
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    padding-left: .6rem;
}

.sidebar button{
    background-color: transparent;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .8);
}

.sidebar button:hover{
    background-color: rgba(0, 0, 0, .1);
}

.sidebar a{
    display: inline-flex;
    background-color: transparent;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .6);
    gap: 1rem;
}

.sidebar a:hover{
    background-color: rgba(0, 0, 0, .05);
}

.nav a p{
    display: none;
}