.containerDevelop {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.developmentBody {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.developmentContainDescrip {
  width: 100%;
  display: flex;
  gap: 25px;
}

.developmentContainDescrip img {
  width: 100%;
  max-width: 200px;
  border-radius: 15px;
}

.development {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 25px;
  gap: 5px;
}

.development:hover {
  background: #f2f2f2;
}

.developmentDescrip {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.developmentType {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.developmentState {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #25d366;
}

.developmentState::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: #25d366;
}

.developmentDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.developmentFooter {
  width: 80%;
  
  margin: 0 auto;
}

.developmentFooter span {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 18px;
}