.container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

.content{
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-row: 2; 
    gap: .5rem;
}