:root{
    --sidebar-w: 25rem;
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-w) 1fr;
    background-color: #fff;
    /* 
    grid-template-rows: 1fr; */
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    /* grid-row: 2;  */
}