.container {
    min-height: 90vh;
    width: min(90%, 800px);
    margin-inline: auto;
    position: relative;
}

.header h2 {
    font-weight: 600;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1rem;
}

.container .input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    height: 4.5rem;
    font-size: 1.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    position: absolute;
    bottom: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0;
}

.container .input input {
    width: 100%;
}

.container .input button {
    background-color: var(--main-color);
    color: #fff;
    width: 10rem;
    font-weight: 500;
    border-radius: 1rem;
}

.messages {
    height: 70vh;
    overflow-y: auto;
}

.message {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.message p {
    width: 45%;
    font-weight: 400;
}

.icon {
    background-color: aquamarine;
    height: 4rem;
    width: 4rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.messages::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scrollbar */
}

/* Personaliza el thumb (el control deslizante del scrollbar) */
.messages::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    /* Color del thumb */
    border-radius: 4px;
    /* Bordes redondeados del thumb */
}

/* Personaliza la pista (el fondo del scrollbar) */
.messages::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color de fondo de la pista */
}

/* Personaliza el borde del scrollbar */
.messages::-webkit-scrollbar-track-piece {
    background-color: transparent;
    /* Color de fondo del scrollbar */
}

@media screen and (max-width: 768px) {

    .message p {
        width: 80%;
    }
}