.section{
    padding: 4rem;
    width: min(1200px,90%);
    margin-inline: auto;
}

.section p {
    max-width: 45rem;
    font-size: 1.4rem;
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btn{
    font-size: 1.3rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: 500;
    min-width: 11rem;
    text-align: center;
}