*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

html{
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}  

body{
  font-size: 1.6rem;
  font-family: var(--font);
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: #f2f2f2;
}


table {
  border-collapse: collapse;
}

img,
picture{
    max-width: 100%;
    display: block;
}

ol, ul, menu {
  list-style: none;
}

input,
 textarea,
 select,
 optgroup {
    all: revert;
    outline: none;
    border: none;
    font-family: inherit;
    line-height: 1.15;
    width: 100%;
    min-height: 3rem;
    border-radius: .5rem;
    outline: none;
}



meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

textarea {
  white-space: revert;
}

input, textarea {
  -webkit-user-select: auto;
}



a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button{
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

select{
    border: none;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);

}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
     }

  *,
  *::before,
  *::after{
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

html{
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}  

body{
  font-size: 1.6rem;
  font-family: var(--font);
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: #f2f2f2;
}


table {
  border-collapse: collapse;
}

img,
picture{
    max-width: 100%;
    display: block;
}

ol, ul, menu {
  list-style: none;
}

input,
 textarea,
 select,
 optgroup {
    all: revert;
    outline: none;
    border: none;
    font-family: inherit;
    line-height: 1.15;
    width: 100%;
    min-height: 3rem;
    border-radius: .5rem;
    outline: none;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

textarea {
  white-space: revert;
}

input, textarea {
  -webkit-user-select: auto;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button{
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

select{
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);

}

textarea{
  position: relative;
  display: inline-block;
  height: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
     }

  *,
  *::before,
  *::after{
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.ql-toolbar.ql-snow{
  border-radius: .5rem .5rem 0 0;
  border: 1px solid rgba(0, 0, 0, .1);
  border-bottom: none !important;
  background-color: #fff;
}

.ql-container.ql-snow{
  border-radius: 0 0 .5rem .5rem;
  border: 1px solid rgba(0, 0, 0, .1);
  border-top: none;
  color: #333;
  font-size:1.5rem;
  font-weight: 500;
}

.ql-editor{
  min-height: 15rem;
  height: 20rem !important;
  overflow-y: auto;
  background-color: var(--bg-second);
}

.container_page .ql-editor{
  height: 70vh !important;
}

.auto_page .ql-editor{
  min-height: 50rem !important;
}