.section{
    background-color: var(--second-color);
    color: #fff;
    padding-block: 8rem;
    border-radius: 2rem 2rem 0 0;
}

.section h2{
    text-align: center;
}

.section p{
    text-align: center;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(39rem, 1fr));;
    justify-content: center;
    gap: 2rem;
    margin-inline: auto;
    width: min(1000px, 90%);
    margin-top: 4rem;
}

.card{
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #1f2573;
}

.card img{
    width: 100%;
    height: 28rem;
    object-fit: fill;
}
.card h2{
    text-align: left;
    margin-bottom: 2rem;
}

.card p{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.card a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content{
    padding: 2rem;
    display: grid;
    justify-content: space-between;
    height: 22rem;

}
