.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50rem;
    height: 38rem;
    background-color: #FFF;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
   
   .open{
    transform: translateX(0%);
   }

   .open_modal{
    transform: translate(-50%, -50%);

   }
   
   .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
   }
   
   .modal_overlay.open{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
   }

   .header{
    display: flex;
    justify-content: space-between;
   }
   
   
   .header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
   }
   
   .header > div h3{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #2164D9;
    display: grid;
    place-items: center;
    color: #FFF;
   }
   
   .header > div h2{
    font-weight: 600;
    font-size: 1.8rem;
   }
   
   .actions{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }
   
   .action{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
   }
   
   .action p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
   }
   
   .action > div{
    background-color: #FFF;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .action svg{
    color: #AAAAAB;
   }
   
   .action:last-child > div{
    background-color: #2164D9;
   }
   
   .action:last-child > div  svg{
    color: #FFF;
   }
   
   .edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }
   
   .edit h3{
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
   }
   
   .edit a{
    color: #2164D9;
    font-size: 1.4rem;
   }
   
   .new{
    padding: 2rem;
   }
   
   .new h3{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
   }
   
   .new .options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
   }
   
   .new .options a{
    background-color: #FFF;
    border-radius: .5rem;
    padding: 1rem;
    color: rgba(46, 57, 76, 0.8);
    background-color: rgba(255, 255, 255, .5);
    font-size: 1.4rem;
    transition: .2s;
    display: flex;
    align-items: center;
    gap: .5rem;
   }
   
   .new .options a:hover{
    background-color: #FFF;
   }
   
   .form{
    overflow-y: auto;
    height: 90%;
   }
   .form h3{
    padding-inline: 2rem;
    font-weight: 500;
    color: #171717;
    margin-top: 2rem;
    margin-bottom: 1rem;
   }
   
   .field{
    padding-inline: 2rem;
    margin-bottom: 1.5rem;
   }
   
   .field label{
    font-size: 1.4rem;
    font-weight: 500;
   }
   
   .field input{
    margin-top: .5rem;
    height: 3.5rem;
    padding-inline: 1rem;
   }
   
   .field select{
    margin-top: .5rem;
    background-color: #FFF;
    border: none;
}

.form input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
}
   
   .proposal_btn{
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 2rem;
    width: 90%;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
   }
   
   .close_btn{
    background-color: transparent;
   }
   
   @media screen and (max-width: 768px) {
    .modal {
     width: 100%;
    }
   }

   .copy{
    text-align: center;
    font-size: 1.6rem;
    margin-block: 2rem;
   }
   .google_btn{
    padding-inline: 2rem;
   }