.section{
    width: min(1150px, 90%);
    margin-inline: auto;
    padding-block: 8rem;
}

.section h2{
    text-align: center;
}

.section > p{
    text-align: center;
}

.options{
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}

.options article h3{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.options article p{
    margin-bottom: 2rem;
    color: #4d4d4d;
}

.options article a{
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}