.modalDocuments {
  position: relative;
  z-index: 10000;
}

/* Estructure of Modal */

.header {
  padding: 15px 0;
  border-bottom: 1px solid;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  display: flex;
  justify-content: center;
}

/* Content of Form */

.documents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px 0;
}

.documentButton {
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.documentButton:hover {
  padding: 15px;
  background: #d6d6d6;
}

.footer button {
  display: block;
  width: 100%;
  height: 4.5rem;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  border-radius: .5rem;
}