.container {
  border-radius: 1rem;
  min-height: 80vh;
  background-color: #fff;
  border-radius: 1rem;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.content {
  padding: 0 4rem;
  margin-bottom: 10rem;
}

.link {
  background-color: black;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.4rem;
}
