.header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    margin: 0 auto;
    gap: 2rem;
}

.header a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    border: 1px solid var(--main-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--main-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.mosaic_grid {
    grid-template-areas:
        "photo1 photo2 photo4"
        "photo1 photo3 photo5";
    grid-gap: 4px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    user-select: none;
    height: 738px;
}

.mosaic_grid figure{
    position: relative;
    width: 100%;
    height: 100%;
}
.mosaic_grid figure img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.mosaic_grid figure:first-child {
    grid-area: photo1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mosaic_grid figure img {
    width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mosaic_grid figure:first-child img {
    width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.mosaic_grid figure:nth-child(2){
    height: 269px;
    width: 100%;
    height: 100%;
}

.mosaic_grid figure:nth-child(2) {
    /* height: 269px; */
    grid-area: photo2;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.mosaic_grid figure:nth-child(3) {
    /* height: 269px; */
    grid-area: photo3;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.mosaic_grid figure:nth-child(4) {
    grid-area: photo4;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* height: 269px; */
}


.mosaic_grid figure:nth-child(5)  {
    grid-area: photo5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 269px; */
}

.mosaic_grid figure{
    /* height: 538px !important; */
    overflow: hidden;
}


/* .mosaic_grid figure:first-child ~ figure img {
    height: 269px;
} */


.container {
    width: min(1200px, 90%);
    margin-inline: auto;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 36rem;
    gap: 2rem;
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main .price {
    font-size: 3.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.main button {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    background-color: transparent;
}


.amenities {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    margin-top: 2rem;
}

.amenities>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}


.amenities>div i {
    font-size: 4rem;
}


.price_sug {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1rem;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    max-width: 20rem;
}

.price_sug i {
    font-size: 2rem;
}


.title_property {
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.specs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 4rem;
}

.specs>div {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgba(0, 0, 0, 0.8);

}

.specs>div i {
    font-size: 3.5rem;
}

.specs>div p {
    font-weight: 300;
}


.specs>div h3 {
    font-weight: 600;
}


.description {
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2rem;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
    /* padding-bottom: 4rem; */
}

.pricein{

}

.map {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 4rem;
}

.map p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}


.form_t .btn_whatsapp {
    display: inline-block;
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    height: 5rem;
    margin-top: 2rem;
    background-color: #25D366;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 2rem;
    border-radius: .5rem;
    min-height: 40rem;
}

.properties_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    gap: 2rem;
}
@media screen and (max-width: 768px) {

    .mosaic_grid {
        display: flex !important;
        width: 100%;
        overflow-x: scroll;
        height: auto;
        display: flex;
  overflow-x: auto; /* Permite desplazar los divs horizontalmente */
  scroll-snap-type: x mandatory; /* Asegura un desplazamiento suave entre divs */
  -webkit-overflow-scrolling: touch;
    }

    .mosaic_grid figure {
        flex: 0 0 100%; 
          width: 200rem;
          height: 30rem !important;
      }
      
      .mosaic_grid figure img{
          width:300rem;
          height: 100% !important;
          object-fit: cover;
      }
}