.section{
    padding-block: 8rem;
    background-color: #FBFBFB;
}

.content{
    width: min(90%, 110rem);
    margin-inline: auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    overflow: hidden;

}

.section h2{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

.header{
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}

.header ul{
    display: flex;
    gap: 2rem;
}

.header ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header ul p{
    font-size: 1rem;
    max-width: 4rem;
    text-align: center;
    line-height: 1.2rem;
}

.tag{
    background-color: #06EFB5;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-weight: 500;
    color: #3533FF;
    display: flex;
    align-items: center;
    gap: .5rem;
    width: max-content;
}

.title{
    font-size: 2.8rem;
    margin-top: 2rem;
}

.copy{
    margin-block: 2rem;
    font-size: 1.4rem;
    max-width: 36rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card{
    padding: 2rem;
    padding-right: 4rem;
}

.container button{
    background-color: #000;
    border-radius: 5rem;
    color: #fff;
    font-size: 1.8rem;
    padding: 1.5rem 5rem;
    margin-top: 2rem;
}

.time{
    background-color: var(--main-color);
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.picture img{
    width: 100%;
    height: 40rem;
}

.price {
    font-weight: 600;
}

.price span{
    color: var(--main-color);
}