.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container form{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 4rem;
    width: 40rem;
    background-color: #fff;
}

.container form h2{
    font-size: 1.8rem;
}
.container form p{
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.4rem;
}


.container form .login{
    width: 100%;
    border-radius: 1rem;
    height: 4rem;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: #0c0f24;
    color: #fff;
    margin-top: 2rem;
}