.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  border-bottom: 1px solid #f1f1f1;
  padding: .5rem 16px .5rem 2rem;
  background-color: #fff;
  color: #fff;
}

.options{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.options a{
  height: 4rem;
  border-radius: .8rem;
}

.logo{
  font-size: 2.6rem;
  font-weight: 600;
  color: #0c0f24;
  /* color: #fff; */
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo h3{
  font-weight: 600;
  font-size: 2rem;
}


.login{
  max-width: 12rem;
  display: grid;
  overflow: hidden;
  align-items: center;
  grid-template-columns: 18px 1fr;
  gap: .5rem;
  font-weight: 600;
  font-size: 1.3rem;
  padding-inline: 1.5rem;
  background-color: var(--main-color);
  padding-block: 1rem;
  border-radius: .8rem;
  color: #fff;
}

.login *:first-child {
  width: -webkit-fill-available;
} 

.login span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}