.tooltipWrapper {
    position: relative;
    display: inline-block;
}
  
.tooltipText {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    margin-left: 10px;
}