.container{
    background-color: #fff;
    border-top-left-radius: 1rem;
}

.content{
    padding: 2rem;
}

.options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}

.options > div{
    margin-top: 0;
}

.information{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.card{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #F4F4FC;
    border-radius: 1rem;
    padding: 1rem;
}

.card img{
    width: 3.5rem;
}

.card p{
    font-size: 1.4rem;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
}