.container_post_form {
  border-radius: 1rem;
  height: 94vh;
  width: 94.5vw;
  background-color: #fff;
  border-radius: 1rem;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.container_post_form textarea {
  height: 10rem;
}

.content_form_post {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}

.iz {
  display: grid;
  grid-template-rows: 7vh 81vh 6vh;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header span {
  color: #ff5f00;
  font-size: 1.2rem;
  font-weight: 700;
}

.iz .container_post .btn_group {
  background-color: #dddddd;
  padding: 0.5rem;
  margin: 2rem 2rem 0 2rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.iz .container_post .btn_group .btn_post {
  width: 100%;
  background-color: #dddddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.iz .container_post .btn_group .btn_post p {
  font-size: 2rem;
  font-weight: 600;
}

.iz .container_post .btn_group .btn_selected {
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.iz .container_post .btn_group .btn_selected p {
  font-size: 2rem;
  font-weight: 600;
}

.iz .container_post {
  display: flex;
  flex-direction: column;
}

.post_body {
  overflow: auto;
}

.iz .container_post .post_body .form {
  padding: 2rem;
}

.iz .container_post .image {
  padding: 2rem;
}

.footer_form_post {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 2rem;
  font-weight: 600;
}

.der {
  display: grid;
  grid-template-rows: 7vh 81vh 6vh;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.selects_step {
  padding: 2rem;
}

.footer_form_post_der {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-weight: 600;
}
.btn_send_post {
  padding: 1rem;
  background-color: #ff5f00;
  border-radius: 0.4rem;
  width: 10rem;
  color: #fff;
}
