
.header{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-block: 1.5rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}

.options{
    display: flex;
    align-items: center;
    gap: 2rem;
}