.container{
    background-color: #F8F8F8;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    width: min(90%, 40rem);
    border-radius: 1rem;
    padding: 6rem 4rem;
    color: #353535;
}

.form button{
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}

.form input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.form h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.divider{
    -webkit-align-items: center;
    align-items: center;
    color: #5f5f5f;
    display: -webkit-flex;
    display: flex;
    font-size: 1.4rem;
    margin: 1.4rem 0;
    text-align: center;
    width: 100%;
}

.divider::before,
.divider::after {
    border-bottom: 1px solid #dcdcdc;
    content: "";
    -webkit-flex: 1;
    flex: 1;
}

.divider::after {
    margin-left: 1rem;
}

.divider::before{
    margin-right: 1rem;
}

.google_btn{
    position: relative;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #353535 !important;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    height: 4rem !important;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.google_btn::before{
    background-image: url("https://frtassets.fotocasa.es/statics/img/icon_social_login_for_google.svg");
    background-size: 24px 24px;
    content: "";
    height: 2.4rem;
    width: 2.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-color: #f8f8f8;
}

.content {
  max-width: 40rem;
  border-radius: 1rem;
  background-color: #fff;
  margin-block: 4rem;
  padding-block: 5rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.googleBtn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  border: 1px solid #000;
  justify-content: center;
  border-radius: 1rem;
  padding-block: 0.8rem;
}

.googleBtn svg {
  width: 1.8rem;
}

.btn {
  background-color: #262e8e;
  text-align: center;
  color: #fff;
  width: 100%;
  padding-block: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-block: 2rem;
}

.divider::before {
  position: absolute;
  content: '';
  left: 0;
  border-bottom: 1px solid #dcdcdc;
  margin-right: 0.5rem;
  width: 150px;
}

.divider::after {
  position: absolute;
  content: '';
  right: 0;
  border-bottom: 1px solid #dcdcdc;
  margin-left: 0.5rem;
  width: 150px;
}

.footer {
  margin-top: 2rem;
}

.footer img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
