.container{
    background-color: #F8F8F8;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    width: min(90%, 40rem);
    border-radius: 1rem;
    padding: 6rem 4rem;
    color: #353535;
}

.form button{
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}

.form input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.form h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.divider{
    -webkit-align-items: center;
    align-items: center;
    color: #5f5f5f;
    display: -webkit-flex;
    display: flex;
    font-size: 1.4rem;
    margin: 1.4rem 0;
    text-align: center;
    width: 100%;
}

.divider::before,
.divider::after {
    border-bottom: 1px solid #dcdcdc;
    content: "";
    -webkit-flex: 1;
    flex: 1;
}

.divider::after {
    margin-left: 1rem;
}

.divider::before{
    margin-right: 1rem;
}

.google_btn{
    position: relative;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #353535 !important;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    height: 4rem !important;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.google_btn::before{
    background-image: url("https://frtassets.fotocasa.es/statics/img/icon_social_login_for_google.svg");
    background-size: 24px 24px;
    content: "";
    height: 2.4rem;
    width: 2.4rem;
}