.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #111827;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.35rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 999px;
  background: #eef2ff;
  color: #4338ca;
}

.select,
.input {
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem;
}

.inputWithSuffix {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.suffix {
  font-size: 0.9rem;
  color: #6b7280;
}

.tabGroup {
  display: flex;
  border-radius: 1rem;
  background: #eef2ff;
  padding: 0.15rem;
}

.tab {
  flex: 1;
  border-radius: 1rem 0 0 1rem;
  border: none;
  background: transparent;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.tab:nth-child(2){
      border-radius: 0;
}

.tab:nth-child(3){
    border-radius: 0 1rem 1rem 0;
}

.tabActive {
  background: #4f46e5;
  color: #ffffff;
  font-weight: 600;
}

.switchRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.switchLabel {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.inlineGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.chipGroup {
  display: flex;
  gap: 0.35rem;
}

.chip {
  min-width: 55px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.chipActive {
  background: #4f46e5;
  border-color: #4f46e5;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.primaryButton,
.secondaryButton {
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.primaryButton {
  background: #4f46e5;
  color: white;
}

.secondaryButton {
  background: white;
  border: 1px solid #d1d5db;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info img{
    border: 2px solid #4f46e5;
    border-radius: 1rem;
}

.info .cardTitle{
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: .5rem;
}

.switchLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 12px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.switchLabel input{
    min-height: 2rem;
    width: 2rem;
}