.banner_container{
    background-color: var(--main-color);
    border-radius: 0rem 0rem 3rem 3rem;
    min-height: 35rem;
    display: flex;
}

.banner {
    width: min(90%, 1200px);
    margin-inline: auto;
    color: #fff;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.banner .boxs{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.banner h1{
    font-size: 6rem;
}

.boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    align-items: center;
    margin-top: 2rem;
  }
  
.boxs .box {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    min-width: 15rem;
  }
  
  .box h3 {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .8);
  }

.section details{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2rem .5rem;
}

.section{
    width: min(90%, 1200px);
    margin-inline: auto;
    padding-block: 4rem;
}

.section h2{
    margin-bottom: 3rem;
}

.section ul li {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.4rem;
}

.section ul li h3{
    font-size: 1.6rem;
}

.section ul li p{
    font-size: 1.4rem;
}


.title{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0 !important;
}

.copy{
    text-align: center;
}

.list{
    margin-top: 8rem;
    display: grid;
    gap: 4rem;
}

.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}


.article a{
    background-color: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    margin-top: 2rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
 .article{
    grid-template-columns: 1fr;
 }   
}