.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.steps{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}
.step {
  width: 6rem;
  height: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: column;
  align-items: center;
}

.bullet {
  width: 6rem;
  height: 1rem;
  border-radius: 999px;
  background-color: #d1d5db;
}

.bulletActive {
  background-color: #4338ca; 
}

.bulletCompleted {
  background-color: #4f46e5;
}

.label {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #6b7280;
}

.labelActive {
  color: #111827;
  font-weight: 600;
}
