.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: .3s;
    display: none;
}

.overlay.active{
    display: block;
}

.menu{
    position: fixed;
    left: -1200px;
    top: 0;
    background-color: #fff;
    width: 30rem;
    z-index: 999;
    height: 100%;
    padding: 0 2rem;
    transition: .3s;
}

.menu.active {
    left: 0;
}

.menu button{
    background-color: transparent;
    margin-top: .5rem;
}

.menu ul {
    display:  flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;

}

.menu a{
    font-weight: 500;
}

.header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > div h3{
    font-size: 2rem;
    font-weight: 600;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}