.banner_container {
  background-color: var(--main-color);
  border-radius: 0rem 0rem 3rem 3rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.banner_container h1 {
  font-size: 6rem;
  color: white;
}

.banner_container div {
  margin-top: 2rem;
}

.banner_container form {
  margin-top: 1rem;
}

.banner_container form label h4 {
  color: white;
}

.banner_container form label div {
  background-color: white;
  display: flex;
  border-radius: .6rem;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  padding: .5rem;
}

.banner_container form label span {
  display: inline-block;
  background-color: aqua;
  width: 70px;
  height: 5px;
  border-radius: 1rem;
}

.banner_container form label div input {
  height: 3rem;
  padding-left: 1rem;
}

.banner_container form label div button {
  height: min-content;
  width: 15rem;
  background-color: cyan;
  font-weight: 500;
  padding: auto .5rem;
}

.content_layout {
  margin: 8rem 17ch;
}

.content_layout section {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.first_section span,
.second_section span,
.thirt_section span {
  display: inline-block;
  background-color: aqua;
  width: 70px;
  height: 5px;
  margin-top: 2.5rem;
  border-radius: 1rem;
}

.first_sectionContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
 
.first_sectionContent div div h3 {
  margin-bottom: 1rem;
}

.second_sectionContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.second_sectionContent .second_sectionCard {
  display: flex;
  justify-content: space-between;
  background: rgb(225, 225, 225);
  padding: 1rem;
  font-size: 1.3rem;
  gap: 1.4rem;
  border-radius: 1rem;
}

.second_sectionContent .second_sectionCard img {
  background: blue;
  width: 150px;
  height: 100%;
  border-radius: 1rem;
}

.second_sectionContent .second_sectionCard div {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  gap: .5rem;
}

.preguntas {
  background-color: rgb(225, 225, 225);
  font-weight: 600;
}

.preguntas .thirt_section {
  padding: 4rem 0rem;
}

.preguntas .thirt_section div {
  padding: 2rem 0rem; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  grid-auto-rows: min-content;
  gap: 1rem;
}

.preguntas .thirt_section div article {
  padding: 1rem;
  border: 1px solid rgb(174, 160, 160);
  border-radius: 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: min-content;
}

.preguntas .thirt_section div article a {
  color: var(--main-color); 
}