.modalVerifyIdentity {
  position: relative;
  z-index: 10000;
}

/* Estructure of Modal */

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid;
}

.footer {
  display: flex;
  justify-content: center;
}

.body {
  margin-top: 25px;
}

/* Content of Form */

.gridForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.field{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.field label{
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .8);
}

.field input {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: .5rem;
  width: auto;
}

.footer button {
  display: block;
  width: 100%;
  height: 4.5rem;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  border-radius: .5rem;
}