name: CI/CD app-api to EC2

on:
  push:
    branches:
      - production
    paths:
      - 'apps/api/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup .env
        working-directory: apps/api
        run: |
          touch .env
          echo "${{ secrets.ENV }}" > .env

      - name: Install dependencies
        working-directory: apps/api
        run: pnpm install

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd /var/www/api/itaaj-monorepo/apps/api || exit
          git pull origin main
          pnpm install --frozen-lockfile
          pm2 stop api || true
          pm2 start "pnpm run dev" --name "api"
          EOF
